<template name="layout">
    {{>yield region='header'}}

    <div id="content-wrapper" class="container" style="margin-top: 120px">

        {{>yield}}
    </div>
    <!-- {{>yield region='footer'}} -->
</template>

<template name="layoutNoContainer">
    <div class="outer-container">
        {{>yield region='header'}}
        <div id="content-wrapper">
            {{>yield}}
        </div>
    </div>
</template>

<template name="layoutJobs">
    {{>yield region='header'}}
    <!-- {{>yield region='sidebar'}} -->
    <div id="content-wrapper" class="container jobs-layout">
        {{>yield}}
    </div>
    <!-- {{>yield region='footer'}} -->
</template>