<template name="sidebarJobs">
    <ul class="sidebar-inner-container">
        <li class="sidebar-title categories">Categorías</li>
        {{#each categories}}
            <!-- <li name="{{category}}" class="category active"> -->
            <li name="{{category}}" class="category">
                <i class="fa fa-{{icon}} fa-lg sidebar-icon"></i>
                <a name="{{category}}" href="#" class="sidebar-item">{{title}}</a>
            </li>
        {{/each}}
    </ul>
    <ul class="sidebar-inner-container">
        <li class="sidebar-title">Ciudades</li>
        <li class="cities-dropdown">
            <i class="fa fa-globe fa-lg sidebar-icon"></i>
           <!--  <div class="dropdown">
                <button class="btn btn-default dropdown-toggle cities-dropdown-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Seleccione la ciudad
                    <span class="caret"></span>
                </button> -->
                <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    {{#each cities}}
                    <li name="{{filterCity}}" class="filter-city">
                        <a name="{{filterCity}}" href="">{{filterCity}}</a>
                    </li>
                    {{/each}}
                </ul> -->
                <select class="form-control filter-city">
                    <option value="todas">Todas</option>
                    {{#each cities}}
                        <option value="{{filterCity}}">{{filterCity}}</option>
                    {{/each}}
                </select>
            <!-- </div> -->
        </li>
    </ul>
    <ul class="sidebar-inner-container sidebar-tags">
        <li class="sidebar-title">Tags</li>
        <li class="tags-input">
            <div class="input-group">
                {{> inputAutocomplete settings=settings id="legend" class="form-control form-control-tags" name="legend" placeholder="Filtra por tecnologías" aria-describedby="sizing-addon2"}}
            </div>
        </li>
    </ul>
    <ul class="postjob-container">
        {{#if selectedTags}}
            <div class="tags-bag">
            {{#transition in="fadeIn:500" out="fadeOut:500"}}
                {{#each selectedTags}}
                    <li class="tag-pill animated out">{{.}}</li>
                {{/each}}
            {{/transition}}
            </div>
        {{else}}
            {{#animate type="rubberBand" delay="200"}}
                <!-- <h1 class="logo">Awesome Site</h1> -->
                <a class="text-center postjob-button" role="button" href="/job">Oferta un trabajo</a>
            {{/animate}}
        {{/if}}
    </ul>
    <!-- /#sidebar-wrapper -->
</template>

<template name="jobTags">
    <!-- {{year}} <span style="color: {{color}}; background-color: {{bg}};"> -->{{name}}<!-- </span> {{legend}} -->
</template>