<template name="home">
	<div class="jumbotron container-fluid">
		<div class="container text-center hero-section">
			<div class="row">
				<h1 class="main-title">We Work Meteor</h1>
			</div>
			
			<div class="description-container">
				<p class="platform-description">
					The premier job board and developer community space specifically for Meteor. Browse the active job postings or create your profile to join the registered developers.
				</p>
			</div>
			
			<div id="callToAction">
				<a class="text-center post-a-job-button" role="button" href="{{pathFor 'jobNew'}}">Oferta un trabajo</a>
			</div>
		</div>
	</div>
</template>
