<template name="jobSmall">
    <div class="job-card animated out">
        <section class="row jobs-cards-section">
            <div class="col-xs-12 col-md-2 col-lg-2 company-brand-container">
                <div class="company-icon">
                {{#if companyImageUrl}}
                    <!-- <div class="avatar avatar-large">
                    <img class="img-responsive" src="{{resizeImageUrl customImageUrl 200 200}}"/>
                    </div> -->
                    <img src="{{resizeImageUrl companyImageUrl 200 200}}" width="100px">
                    <!-- <img src="{{companyImageUrl}}" width="100px"> -->
                {{else}}
                    <!-- {{> avatar userId=userId size="large"}} -->
                    <img src="images/avatar.png" width="100px;">
                {{/if}}
                </div>
            </div>
            <!-- <div class="col-xs-12 col-md-9 col-lg-9 job-info"> -->
            <div class="col-xs-12 col-md-10 col-lg-9 job-info">
                <h3 class="job-title"><a href="{{pathFor 'job'}}">{{title}} - {{./city}}</a></h3>
                    {{#if jobTags}}
                        <div class="job-tags">
                            {{#each jobTags}}
                            <div class="tag {{hideOnSmall @index}}">{{.}}</div>
                            {{/each}}
                        </div>
                    {{/if}}
                <div class="job-other-info">
                    {{#if description}}
                    <p class="job-description">{{slicedDescription description 300}}</p>
                    {{/if}}
                    <div class="icons-container">
                        <!-- <div class="jobsmall-icon-container"> -->
                            <i class="fa fa-calendar"></i> 
                            <p class="icon-info">{{formatDate createdAt}}</p>
                        <!-- </div> -->
                        <!-- <div class="jobsmall-icon-container"> -->
                        {{#if company}}
                            <i class="fa fa-building hidden-xs hidden-sm"></i> 
                            <p class="icon-info hidden-xs hidden-sm">{{company}}</p>
                        {{/if}}
                        <!-- </div> -->
                        <!-- <div class="jobsmall-icon-container"> -->
                        {{#if featured}}
                            <i name="featured" class="fa fa-trophy hidden-xs hidden-sm"></i> 
                            <p class="icon-info hidden-xs hidden-sm">{{company}}</p>
                        {{/if}}
                        <!-- </div> -->
                        <!-- <div class="jobsmall-icon-container"> -->
                        {{#if remote}}
                            <i name="remote" class="fa fa-globe"></i> 
                            <p class="icon-info">Remote</p>
                        {{/if}}
                        <!-- </div> -->
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
</template>
