<template name="jobSmall">
    <div class="job-card animated out">
        <section class="row jobs-cards-section">
            <div class="col-xs-12 col-md-2 col-lg-2 company-brand-container">
                <div class="company-icon">
                {{#if companyImageUrl}}
                    <!-- <div class="avatar avatar-large">
                    <img class="img-responsive" src="{{resizeImageUrl customImageUrl 200 200}}"/>
                    </div> -->
                    <!-- <img src="{{resizeImageUrl customImageUrl 100 100}}" width="100px"> -->
                    <img src="{{companyImageUrl}}" width="100px">
                {{else}}
                    <!-- {{> avatar userId=userId size="large"}} -->
                    <img src="images/avatar.png" width="100px;">
                {{/if}}
                </div>
            </div>
            <!-- <div class="col-xs-12 col-md-9 col-lg-9 job-info"> -->
            <div class="col-xs-12 col-md-10 col-lg-9 job-info">
                <h3 class="job-title"><a href="{{pathFor 'job'}}">{{title}} - {{./city}}</a></h3>
                    {{#if jobTags}}
                        <div class="job-tags">
                            {{#each jobTags}}
                            <div class="tag">{{.}}</div>
                            {{/each}}
                        </div>
                    {{/if}}
                <div class="job-other-info">
                    {{#if description}}
                    <p class="job-description">{{slicedDescription description 300}}</p>
                    {{/if}}
                    <div class="icons-container">
                        <i class="fa fa-calendar"></i> <p class="icon-info">{{formatDate createdAt}}</p>
                    {{!-- {{#if featured}} - Featured Until {{formatDate featuredThrough}}{{/if}}
                     --}}

                     {{#if company}}
                     <i class="fa fa-building"></i> <p class="icon-info">{{company}}</p>{{/if}}
                    <!-- {{#if jobtype}}<i class="fa fa-clock-o"></i> <p class="icon-info">{{jobtype}}</p>{{/if}} -->
                    {{#if featured}}<i name="featured" class="fa fa-trophy"></i> <p class="icon-info">Featured</p>{{/if}}
                    {{#if remote}}<i name="remote" class="fa fa-globe"></i> <p class="icon-info">Remote</p>{{/if}}
                    <!-- {{#if city}}
                    <i class="fa fa-globe"></i> <p class="icon-info">{{city}}</p>
                    {{/if}} -->
                    </div>
                    
                </div>
            </div>
            <!-- <div class="col-xs-12 col-md-1 col-lg-1 job-labels-container">
                <div class="job-labels">
                    {{>jobLabels}}
                </div>
            </div> -->
        </section>
    </div>
</template>
